div#modal-overlay
div#loader
  img(src="loader.gif",alt="je charge") 
//- menu
div(class="navbar navbar-inverse navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container")
      a(class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="brand",href="#")  MesInfos Géographiques
      div(class="nav-collapse collapse")
        ul(class="nav")
          li
            a(href="#dataviz")  Cartes
          li
            a(href="#about")  A Propos
          li
            a(href="#contact")  Contact

div(id="content", class="container")

  //- into
  //div(class="hero-unit")
  h2  Mes Infos Géographiques
  p
    | Cette application vous permet de naviguer visuellement dans votre historique des lieux que vous avez les plus fréquentés.<br/>
    
  //- carte & historique
  div(id="dataviz")
    div(class="row")
      div(class="span12")
        h2  Carte des lieux fréquentés
      div(class="span4")
        //-p(class="text-info")  GoogleMap
        //-div(id="googleHeatmapArea",class="well",style="padding:0;height:400px;cursor:pointer;position:relative;")
        //-p  Cliquez sur la carte pour découvrir quand un lieu à été visité
        //-a(href="#refreshButton",class="btn btn-primary btn-large")  Regénérer
        p 
          | La carte ci contre indique votre fréquentation géographique en se basant sur l'historique de positionnement géographique de votre téléphone.<br>
          | Elle permet en un clin d'oeil de voir les lieux les plus fréquentés sans tenir compte du temps.
        p 
          | Plus la couleur est intense et plus vous avez fréquenté la zone colorée.<br>
          | Vous pouvez vous déplacer et zoomer sur une zone pour plus de précisions.
        p
          | Le graphe de fréquentation ci-dessous est mis à jour lors de vos déplacement sur la carte.
          
      div(class="span8")
        //p(class="text-info")  OpenStreetMap (Leaflet)
        div(id="map",class="well",style="padding:0;height:400px;cursor:pointer;position:relative;")
    div(class="row")
      div(class="span12")
        h2  Graphe de fréquentation
      div(class="span8")
        div(id="chartArea",class="well",style="padding:0;height:200px;cursor:pointer;position:relative;")
        //- p  Selectionner une période de la courbe pour ne voir que les lieux fréquentés pendant cette période
      div(class="span4")
        p Ce graphe indique les dates de votre présence sur la zone visible de la carte <br/>
        p La hauteur du graphe indique le nombre de relevés (votre temps de présence) relatif sur la zone visible de la carte <br/>
        p En pointant les points de ce graphe, la carte est mise à jour en n'indiquant QUE les lieux fréquentés à la date pointée.
      
  //- about
  div(id="about",class="row")
    div(class="span12")
      h2  A Propos
      p  
        | L'appli MesInfos Géographique à été imaginée dans le cadre du concours mes infos organisé par la Fing.<br/>
        | Il à pour objectif de permettre aux utilisateurs de visualiser la carte de ses déplacement.
      p  
        | Les données utilisées ici sont fournies par orange et sont basé sur la triangulation de votre téléphone <br/>
        | La précision des coordonnées est variable et la carte est uniquement indicative, et le fait d'etre "vu" en un lieu ne signifie pas nécéssairement que vous y étiez. 
        | Cependant il indique que vous n'étiez vraisemblablement pas loin. <br/>
        
  //- contact
  div(id="contact",class="row")
    div(class="span3")
      h2  Contacts
      p  Patrice Delorme <br/>
        | @pdelorme<br/>
        | pdelorme@lookal.fr
        
  // footer      
  footer
    p  &copy; Patrice Delorme 2013